# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Java files
[*.java]
indent_style = space
# Number of spaces per indentation level
indent_size = 4
# Number of spaces to represent a tab
tab_width = 4

